.username-heading {
  font-size: 12px;
  color: #f8fafc;
  margin-top: 20px;
  margin-bottom: 8px;
}

.username {
  padding: 8px;
  width: 100%;
  background-color: transparent;
  outline: none;
  border: 1px solid #64748b;
  border-radius: 4px;
  color: #f8fafc;
}

.card-container-for-modal {
  background-color: #2c364c;
  width: 100%;
  height: 100%;
}

.login-button {
  display: flex;
  height: 40px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #6366f1;
  margin-top: 20px;
  border: none;
  margin-bottom: 10px;
  cursor: pointer;
}

.for-select {
  background-color: #2c364c;
  color: white;
}