.jid-bg-container {
    padding-bottom: 20px;
    background-color: #000000;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .description-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .arrow-container {
    width: 100%;
    margin-top:20px;
    margin-bottom:10px;
  }
  .arrow-button{
    background-color: transparent;
    border:none;
    cursor:pointer;
  }
  .arrow-icon-jid{
    width: 20px;
    margin-left:20px;
    height: 20px;
    color:white;
  }
  .link-item {
    font-size: 20px;
    color: #4f46e5;
    text-decoration: none;
  }
  .link-icon {
    width: 16px;
    height: 16px;
    margin-left: 8px;
  }
  .skills-container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-top: 20px;
  }
  .lac-heading {
    font-size: 24px;
    color: white;
    margin-top: 12px;
  }
  .company-image {
    border-radius: 20px;
    max-width: 120%;
  }
  .similar-jobs-heading {
    color: white;
    font-size: 20px;
  }
  .full-screen{
    min-width:100vw;
  }
  
  
  @media (min-width: 767px) {
    .jid-inner-container {
      background-color: #272727;
      width: 70%;
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      border-radius: 20px;
      padding: 30px;
    }
    .jid-job-name {
      font-size: 28px;
      color: white;
    }
    .jid-job-name1 {
      font-size: 28px;
      color: white;
    }
    .desc-container {
      width: 90%;
      line-height: 1;
      margin-bottom: 20px;
    }
    .lac-heading {
      margin-top: 20px;
    }
    .life-at-company-container {
      width: 90%;
      display: flex;
      justify-content: space-between;
    }
    .description-container {
      width: 100%;
      color: white;
      font-size: 16px;
      line-height: 1.5;
    }
    .lac-desc-container {
      width: 60%;
      color: white;
      font-size: 16px;
      line-height: 1.5;
      margin-top: 10px;
    }
    .image-container {
      width: 30%;
    }
    .similar-jobs-heading {
      font-size: 28px;
    }
    .simliar-jobs-container {
      display: flex;
      flex-direction: column;
      margin-top: 40px;
      width: 70%;
      margin-bottom: 30px;
    }
    .similar-job-items {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }
  }
  @media (max-width: 767px) {
    .jid-inner-container {
      background-color: #272727;
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 15px;
      border-radius: 15px;
      padding: 20px;
    }
    .jid-job-name {
      color: white;
      font-size: 28px;
    }
    .desc-container {
      width: 100%;
      line-height: 1.5;
      margin-bottom: 14px;
    }
    .jid-job-name1 {
      color: white;
      font-size: 20px;
      margin-bottom: 0px;
      padding-bottom: 3px;
    }
    .life-at-company-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .description-container {
      color: white;
      font-size: 16px;
      line-height: 1.5;
    }
    .image-container {
      order: 1;
    }
    .simliar-jobs-container {
      display: flex;
      flex-direction: column;
      width: 90%;
      margin-top: 30px;
      margin-bottom: 20px;
    }
    .similar-job-items {
      display: flex;
      flex-direction: column;
    }
    .lac-heading {
      margin-top: 14px;
      margin-bottom: 14px;
    }
    .lac-desc-container {
      margin-bottom: 14px;
      line-height: 1.3;
    }
  }
  .job-desc-new{
    line-height:30px;
    font-size:18px;
  }
  .logout-button-disabled{
    background-color: grey;
    opacity:0.5;
      color: white;
      font-size: 14px;
      border-width:0px;
      cursor:not-allowed;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 70px;
      height: 30px;
      border: none;
      border-radius: 4px;
  }
  .jid-error{
    color:red;
    font-size:12px;
  }
  .jid-error-container-disabled{
    display:flex;
    flex-direction:column;
    align-items:flex-end;
    gap:5px;
  }
  .error-icon{
    width:12px;
    height:12px;
    margin-right:4px;
    margin-top:4px;
  }
  .jid-inner-error-container{
    display:flex;
  }