*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.outer-container{
    display:flex;
    justify-content: center;
    margin-top:20px;
    width:100%;
}

.card-container {
    width: 90%;
    padding: 10px;
    background-color: #2c364c;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
  }
  .recruiter-form{
    display:flex;
    flex-wrap:wrap;
  }
   .label-find-jobs {
    font-size: 12px;
    color: #f8fafc;
    margin-top: 10px;
    margin-bottom: 2px;
   }
   .input-find-jobs{
    padding: 8px;
    width: 100%;
    height: 40px;
    background-color: transparent;
    outline: none;
    border: 1px solid #64748b;
    border-radius: 4px;
    color: #f8fafc;
    margin-top:6px;
   }
   .button-find-jobs{
    margin-top:20px;
   }